<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cgvapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CGVApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.UpdateUserInfoActivity"></activity>
        <activity android:name=".activity.FindTheaterPointActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrivacyActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.FindIdAndPasswordActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MovieListActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ShoppingBasketActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.TicketingPaymentActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SeatChoiceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MyCgvActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.TicketingActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.GiftCardActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.NoticeBoxActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ServiceCenterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.FindTheaterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MovieDetailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MovieLogActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.FrequentlyCgvActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.PaymentHistoryActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.JoinActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.GiftShopDetailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.GiftshopActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>