<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cgvapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CGVApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".FindTheaterPointActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".FindIdAndPasswordActivity" />
        <activity android:name=".MovieListActivity" />
        <activity android:name=".ShoppingBasketActivity" />
        <activity android:name=".TicketingPaymentActivity" />
        <activity android:name=".SeatChoiceActivity" />
        <activity android:name=".MyCgvActivity" />
        <activity android:name=".TicketingActivity" />
        <activity android:name=".GiftCardActivity" />
        <activity android:name=".NoticeBoxActivity" />
        <activity android:name=".ServiceCenterActivity" />
        <activity android:name=".FindTheaterActivity" />
        <activity android:name=".MovieDetailActivity" />
        <activity android:name=".MovieLogActivity" />
        <activity android:name=".FrequentlyCgvActivity" />
        <activity android:name=".PaymentHistoryActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".GiftShopDetailActivity" />
        <activity android:name=".GiftshopActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>